appdirs==1.4.3
attrs==21.2.0
aws-cdk.assets==1.54.0
aws-cdk.aws-cloudformation==1.54.0
aws-cdk.aws-cloudwatch==1.54.0
aws-cdk.aws-dynamodb==1.54.0
aws-cdk.aws-events==1.54.0
aws-cdk.aws-events-targets==1.54.0
aws-cdk.aws-glue==1.54.0
aws-cdk.aws-iam==1.54.0
aws-cdk.aws-lambda==1.54.0
aws-cdk.aws-lambda-event-sources==1.54.0
aws-cdk.aws-logs==1.54.0
aws-cdk.aws-s3==1.54.0
aws-cdk.aws-s3-assets==1.54.0
aws-cdk.aws-s3-deployment==1.54.0
aws-cdk.aws-s3-notifications==1.54.0
aws-cdk.aws-sns==1.54.0
aws-cdk.aws-sns-subscriptions==1.54.0
aws-cdk.aws-sqs==1.54.0
aws-cdk.aws-stepfunctions==1.54.0
aws-cdk.aws-stepfunctions-tasks==1.54.0
aws-cdk.core==1.54.0
